OPENAI_API_KEY= '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'
RAPID_API_KEY= 'd4a64e4ba2mshe7795420c303702p1b42d8jsnf933d4d02161'
SUPABASE_URL='https://yoqsecxbrmisftppewtx.supabase.co'
SUPABASE_ANON_KEY= 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InlvcXNlY3hicm1pc2Z0cHBld3R4Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3MzkyNjI5NjYsImV4cCI6MjA1NDgzODk2Nn0.9C9L5dHb8FmvjKP3jLnADc2D0bmC1fDl5etE80Rc6XA'